<h2>New Order</h2>
<%= form_for (@order) do |f| %>
  <%= f.label :number %>:
  <%= f.text_field :number, placeholder: "KO02000000" %>
  <%= f.label :customer %>:
  <%= f.select :customer, ['GBG Stad', 'VoO', 'Varberg PC', 'Varberg iPad'] %>
  <%= f.label :area %>:
  <%= f.text_field :area %>
  <%= f.label :units %>:
  <%= f.text_field :units %>
  <%= f.label :order_date %>:
  <%= f.text_field :order_date, placeholder: "2000-01-01" %>
  <%= f.label :note %>:
  <%= f.text_field :note %>
  <%= f.submit %>
  <% end %>
<h1>Orders</h1>
<table id="orderTable">
<tr>
  <th>
    Order number
    <input type="text" id="numberInput" onkeyup="filterTable()" />
  </th>
  <th>
    Customer
    <select type="text" id="customerInput" onchange="filterTable()">
      <option value="all">All</option>
      <option value="GBG Stad">GBG Stad</option>
      <option value="VoO">VoO</option>
      <option value="Varberg PC">Varberg PC</option>
      <option value="Varberg iPad">Varberg iPad</option>
    </select>
  </th>
  <th>Area</th>
  <th>Units</th>
  <th>Order date</th>
  <th>DEP</th>
  <th>POB</th>
  <th>Delivered</th>
  <th>Days left</th>
  <th>Note</th>
  <th>
    State
    <select type="text" id="stateInput" onchange="filterTable()">
      <option value="all">All</option>
      <option value="Arrived">Arrived</option>
      <option value="Ready">Ready</option>
      <option value="Done">Done</option>
    </select>
  </th>
</tr>

<% @orders.each do |order| %>
<tr class="<%=order.state %>">
  <td><%= order.number %></td>
  <td><%= order.customer %></td>
  <td><%= order.area %></td>
  <td><%= order.units %></td>
  <td><%= order.order_date %></td>
  <td><%= order.dep %></td>
  <td><%= order.pob %></td>
  <td><%= order.delivered %></td>
  <td><%= days_left(order) %></td>
  <td><%= order.note %></td>
  <td><%= order.state %></td>
  <td>
    <%= link_to 'Edit', edit_order_path(order) %>
    <%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?'}%>
  </td>
</tr>
<% end %>
</table>
