<h2>New Order</h2>
<%= form_for (@order) do |f| %>
  <%= f.label :number %>:
  <%= f.text_field :number %>
  <%= f.label :customer %>:
  <%= f.text_field :customer %>
  <%= f.label :area %>:
  <%= f.text_field :area %>
  <%= f.label :units %>:
  <%= f.text_field :units %>
  <%= f.label :order_date %>:
  <%= f.text_field :order_date %>
  <%= f.label :note %>:
  <%= f.text_field :note %>
  <%= f.submit %>
  <% end %>
<h1>Orders</h1>
<table>
<tr>
  <th>Order number</th>
  <th>Customer</th>
  <th>Area</th>
  <th>Units</th>
  <th>Order date</th>
  <th>Note</th>
</tr>

<% @orders.each do |order| %>
<tr>
  <td><%= order.number %></td>
  <td><%= order.customer %></td>
  <td><%= order.area %></td>
  <td><%= order.units %></td>
  <td><%= order.order_date %></td>
  <td><%= order.note %></td>
</tr>
<% end %>
</table>
